body{font-size: 12px;
                 color:white;
                 font-family: '宋体'；}
            a:link{text-decoration:none;
	               color:gray;}
            a:hover{text-decoration: underline;}
            a:visited{color:gray;}
            #header{height:205px;
                    background-image:url(../imagel/q1.jpg);
                    background-repeat: no-repeat;}
            #banner{width:1000px;
                    height:164px;
                    padding-top:38px;
                    padding-left: 400px;}
             #nav{height:40px;
                 background-color:gray;
                 margin-top: -40px;}
     		.nav-body{width:1000px;}
	      
            .nav-content{width:800px;
             font-weight: bold;
             color:white;
             line-height: 40px;
             padding-left:340px;}
             .wo:link{color:white;}
             .wo:hover{color:white;
                       text-decoration: none;}
             .wo:visited{color:white;}
             
             #one{background-image: url(../imagel/bj.jpg);
                  }
             #content{
             	      width:1520px;
             	      height:1000px;
             	      background-repeat: no-repeat;
                      }
            .nav-body{width:1000px;}
	        #shu{height:20px;
                 width:1px;
                 padding-top:1px;}
            #content{width:1100px;
                     margin:0 auto;
                     clear:both;}
            #content_top{overflow:hidden;}
            #content_bottom_left{width:800px;
	                             float:left;
	                             overflow:hidden;}
            #content_bottom_right{width:280px;
                                  margin-top: 20px;
                                  float:left;
                                  background-color: white；}
            .news_pic{float:left;
	                  padding-top: 10px;
	                  padding-left: 10px;
	                  background-repeat: no-repeat;
	                  margin-top: 30px;}
	        p{padding-left: 60px;}
            .news_pic {width:30%; float:left; display:inline;} 
            .news_list{width:40%; float:left; display:inline;
                       margin-top: 38px;
                       margin-left:48px;} 
            .news_announce{width:30%;float:left;display:inline;} 
            .news_announce{background-image: url(../images/board_bg.png);
                           height:250px;
                           background-repeat: no-repeat;
                           margin-top:5px;
                           margin-left:-70px;}
                
            li{line-height: 40px;}          
            #du{padding-top: 30px;}

           .academic{float:left;
	                 width:320px;
                     padding-left:0px;
                     padding-top: 50px;
                     background-color: white;}

         
            .pian{padding-left: 0px;}
            .book_news{float:left;
	                   width:320px;
                       padding-left:-10px;
                       background-color:white;
                       background-repeat: no-repeat;
                       padding-top: 50px;
                       margin-left: 40px;}
          
           
             .fengcai1{float:left;
	     
         
                       background-image: url(../images/fengcai_bg1.png);
                       width:700px;}

        
             .fengcai2{float:left;
                       background-image: url(../images/fengcai_bg2.png);
                       height:200px;
                       width:1000px;
                       background-repeat: no-repeat;
                       padding-top: 17px;
                       padding-left: 17px; }
             .pian2{padding-left: 200px;}
             #content_bottom_right{background-color:white;
					  width:300px;
					  height:457px;
					  background-repeat: no-repeat;
					  margin-top: 0px;
					  padding-top: 20px;
					  padding-left: 30px;
					  margin-left: -110px;

					  }
              .ou{padding-left:0px;
                  padding-right: 60px;}
              .geng{padding-left: 0px;}
              #footer{color:gray;
	                  float:left;
	                  background-image:url(../imagel/b4.jpg);
	                  height:150px;
	                  width:1500px;
	                  background-repeat: no-repeat;}
	          a{text-align: center;}
              #zh{width:1400px;
                  text-align: center;}

  
              div.image img{
			              display: inline;
			              margin: 3px;
			              border:1px solid #bebebe;
			              width: 105px;
			              height: 80px;
			              opacity: 0.5;
			              float: left;}
		
		     div.image{
			margin: 5px;
			border:1px solid #bebebe;
			width: 118px;
			height: 90px;
			float: left;
			text-align: center;
		}
		div.image a:hover img{
			opacity: 1;
			border:1px solid #333333;
		}
		.pian2{padding-left: 20px;}
    