
#titlediv{background-image: url(image8/left_nav_title.gif);
          height:30px;
          width:180px;
          padding-top:9px;
          padding-left: 40px;  
          background-repeat: no-repeat;        
          color:white;
          }


ul{list-style-image: url(image8/left_cur.gif);
	background-image: url(image8/left_nav_txt.gif);
	width:101px;height:90px;margin-top: 0px;margin-bottom: 0px;
	
	}
#footerdiv{background-image: url(image8/left_nav_bottom.gif);
           width:141px;height:35px;margin-top: 0px;margin-bottom: 0px;
           background-position: center center;font-style:'微软雅黑';}
a:link{text-decoration: none;}
.checked:link{color:red;
              font-size: 19px;}
